<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Presentacion</p>
    <p>Nombre y Apellido: Nickol Carrasquel</p>
    <p>Cedula: 30.251.595</p>
    <p>Seccion: 4</p>
    <p></p>
  </body>
</html>
